@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --light-gray: #b9b9b9;
  --neon-pink: #e6007e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 2rem;
}

/* Common styles */

.project-form,
.task-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-form input,
.task-form select,
.project-form input,
.task-desc-ta,
.submit-button {
  background-color: rgb(2, 2, 2);
  color: white;
  border: 1px solid var(--light-gray);
  padding: 7px;
  border-radius: 3px;
  min-height: 46px;
}

.submit-button {
  margin: 1rem 0 2rem;
  border: 3px solid var(--neon-pink);
  color: var(--neon-pink);
  font-size: 1.15rem;
  font-weight: bold;
}

::placeholder {
  color: var(--light-gray);
}

.project-edit,
.project-remove,
.task-edit,
.task-remove {
  padding: 5px;
}

.task-list,
.project-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* Calendar date picker icon */
::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

/* Header section */

.header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main section */

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Project section */

.project-container {
  margin-bottom: 1rem;
}

.project-element {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #274e48;
  overflow: hidden;
  padding: 0.33rem 0.15rem;
  border-radius: 5px;
}

.project-button-container {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

/* Task section */

.todo-title {
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
}

.task-element {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #274e48;
  border-radius: 5px;
  overflow: hidden;
  min-height: 40px;
  padding: 0 0.3rem;
}

.task-button-container {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

.task-desc {
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-desc-ta::placeholder {
  line-height: 32px;
}

.task-desc-ta::-webkit-scrollbar {
  display: none;
}
/* Footer section */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.fa-github::before {
  content: "\f09b";
  color: #fff;
}

/* Overlay */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  padding: 0 2rem;
}

.overlay.hidden {
  display: none;
}

/* Modals */

.modal-edit-project,
.modal-edit-task {
  display: none;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 35rem;
  background-color: gray;
}

/* Modal edit project */

.modal-edit-project {
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  padding: 3rem 3rem;
  flex-direction: column;
  gap: 1rem;
}

.modal-edit-content-container,
.modal-edit-title-container {
  display: flex;
  flex-direction: column;
}

.modal-edit-button-container {
  display: flex;
}

.modal-edit-title-container,
.modal-edit-button-container {
  justify-content: center;
  align-items: start;
}

.modal-edit-button-container {
  gap: 10px;
  justify-content: space-between;
}

.modal-edit-cbutton,
.modal-edit-ebutton {
  flex: 1;
  border: 1px solid var(--neon-pink);
  border-radius: 5px;
  background-color: black;
  color: var(--neon-pink);
  padding: 1rem 3rem;
  font-weight: bold;
}

.modal-edit-title {
  font-size: 3rem;
}

.modal-edit-label {
  font-size: 1.15rem;
}

.modal-edit-input {
  background-color: rgb(2, 2, 2);
  color: white;
  border: 1px solid var(--light-gray);
  padding: 7px;
  border-radius: 3px;
  min-height: 46px;
}

.modal-edit-content-container-task {
  display: flex;
  flex-direction: column;
}

/* Media queries */

@media only screen and (min-width: 1030px) {
  .main {
    flex-direction: row;
    gap: 2rem;
  }

  .project-container,
  .task-container {
    width: 100%;
  }

  .task-form,
  .project-form {
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .submit-button {
    margin: 0;
    border: 1px solid var(--neon-pink);
    color: var(--neon-pink);
    font-size: 1rem;
    font-weight: bold;
  }

  .task-form input,
  .task-form select,
  .project-form .submit-button {
    flex: 1;
  }

  .task-form .submit-button,
  .project-form input,
  input[type="date"]:nth-child(3) {
    flex: 2;
  }

  .modal-edit-project,
  .modal-edit-task {
    width: 25rem;
  }

  .overlay {
    padding: 0;
  }
}
